In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Melbourne_housing_FULL.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [3]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [4]:
df.shape

(34857, 21)

In [5]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [6]:
useful_columns = ['Suburb', 'Rooms', 'Type', 'Method', 'SellerG', 'Regionname', 'Propertycount',
                  'Distance', 'CouncilArea', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'Price']

df = df[useful_columns]
df.sample(n=5)

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
4645,Glen Iris,5,h,PI,Jellis,Southern Metropolitan,10412.0,9.2,Boroondara City Council,5.0,4.0,4.0,802.0,206.0,2825000.0
31188,Glen Iris,2,u,S,Fletchers,Southern Metropolitan,10412.0,7.3,Boroondara City Council,NaN,NaN,NaN,NaN,NaN,1186000.0
4693,Glen Iris,1,u,PI,Noel,Southern Metropolitan,10412.0,9.2,Boroondara City Council,1.0,1.0,1.0,602.0,NaN,375000.0
25718,Burwood,3,h,S,Fletchers,Southern Metropolitan,5678.0,10.4,Monash City Council,3.0,1.0,3.0,831.0,NaN,1500000.0
14257,Beaumaris,5,h,SS,Ray,Southern Metropolitan,5366.0,17.3,Bayside City Council,5.0,3.0,2.0,713.0,258.0,NaN

In [7]:
df.shape

(34857, 15)

In [8]:
df.columns[df.isna().any()]

Index(['Regionname', 'Propertycount', 'Distance', 'CouncilArea', 'Bedroom2',
       'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'Price'],
      dtype='object')

In [9]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [10]:
fill_with_zero_columns = ['Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car']
df[fill_with_zero_columns] = df[fill_with_zero_columns].fillna(0)
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        0
Distance             0
CouncilArea          3
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [11]:
df['Landsize'] = df['Landsize'].fillna(df['Landsize'].mean())
df['BuildingArea'] = df['BuildingArea'].fillna(df['BuildingArea'].mean())
df.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Propertycount       0
Distance            0
CouncilArea         3
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

In [12]:
df.dropna(inplace=True)
df.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [13]:
df.sample(n=5)

,Suburb,Rooms,Type,Method,SellerG,Regionname,Propertycount,Distance,CouncilArea,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price
29803,Prahran,2,u,PI,Shape,Southern Metropolitan,7717.0,4.6,Stonnington City Council,0.0,0.0,0.0,593.598993,160.2564,690000.0
19776,Balwyn North,5,h,PI,Noel,Southern Metropolitan,7809.0,9.7,Boroondara City Council,5.0,2.0,2.0,593.598993,160.2564,1800000.0
26503,Taylors Hill,3,h,S,Barry,Western Metropolitan,4242.0,18.0,Melton City Council,3.0,2.0,2.0,408.000000,136.0000,610000.0
18766,Vermont,3,h,S,Philip,Eastern Metropolitan,4181.0,17.2,Maroondah City Council,3.0,1.0,0.0,722.000000,94.0000,1111500.0
5359,Hawthorn,1,u,VB,Jellis,Southern Metropolitan,11308.0,4.6,Boroondara City Council,1.0,1.0,1.0,0.000000,160.2564,310000.0

In [14]:
df = pd.get_dummies(df, drop_first=True)
df.sample(n=5)

,Rooms,Propertycount,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Price,Suburb_Aberfeldie,...,CouncilArea_Moorabool Shire Council,CouncilArea_Moreland City Council,CouncilArea_Nillumbik Shire Council,CouncilArea_Port Phillip City Council,CouncilArea_Stonnington City Council,CouncilArea_Whitehorse City Council,CouncilArea_Whittlesea City Council,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council
32127,1,14887.0,2.7,0.0,0.0,0.0,593.598993,160.2564,436000.0,0,...,0,0,0,0,0,0,0,0,0,0
21745,4,4480.0,10.8,4.0,2.0,2.0,602.000000,170.0000,1240000.0,0,...,0,0,0,0,0,0,0,0,0,0
28298,1,4380.0,4.6,0.0,0.0,0.0,593.598993,160.2564,300000.0,0,...,0,0,0,1,0,0,0,0,0,0
7309,2,11364.0,5.5,2.0,1.0,2.0,347.000000,115.0000,1020000.0,0,...,0,0,0,0,0,0,0,0,0,0
25548,4,5682.0,7.9,0.0,0.0,0.0,593.598993,160.2564,1900000.0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
df.shape

(27244, 745)

In [16]:
X = df.drop(columns='Price')
y = df['Price']

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [18]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)
lr.score(X_train, y_train), lr.score(X_test, y_test)

(0.6778432465168299, 0.6697507878259272)

In [19]:
from sklearn.linear_model import Lasso

lasso = Lasso(alpha=50, tol=0.1)
lasso.fit(X_train, y_train)
lasso.score(X_train, y_train), lasso.score(X_test, y_test)

(0.6734849722375447, 0.6763023599309135)

In [20]:
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=50, tol=0.1)
ridge.fit(X_train, y_train)
ridge.score(X_train, y_train), ridge.score(X_test, y_test)

(0.6594572510232031, 0.6702737578118713)